h1{
    color :white;
    background-color: lightgreen;
    font-size: 25px ;
    width: 170px;
    border : 2px solid red;
    margin-left: 500px;
    padding:5px 2px;
}

.body{
    background: white;
}

.form{
    width: 177px;
    border : 2px solid pink;
    border-radius: 15px;
    margin-left: 200px ;
}